<% require "http" %>
<% require 'json' %>
<br>
---------- Back to event control :  
<%= link_to 'Back', events_path %>

<br>

<%# Event.find(1) %>
<%= @events %>
<%= @response_get %>
<br>
<br>
<%= @response %>
<br>
<%#= @return_request %>


<br />
    <pre>
        
        <%#= "<div>" + @body + "</div>" %>
        
    </pre>

    <%= request %>

    